body {
	padding-left: 20px;
	background-color: white;
  	color: black;
}

p {
	 font-size: 21px;
	 padding-left: 20px;
}

.sec {
	font-size: 60%;
	vertical-align: super;
	padding-left: 1px;
}

.dark-mode {
  background-color: black;
  color: white;
}

button {
	color: black !important;
}
